* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.maschine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    font-family: "Roboto";
    color: black;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    border-radius: 0.5rem;
    padding: 3rem;
}

.checki {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 0.3rem;
    margin: 0.5rem;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

input[type=text] {
    padding: 0.3rem;
    border-radius: 0.3rem;
}

input[type=submit] {
    padding: 0.3rem 1rem;
    margin-left: 1rem;
    font-family: "Roboto";
    color: white;
    background-color: black;
    border-style: none;
    border-radius: 0.3rem;
}

.chainLetter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#output {
    color: black;
}